.body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #355C7D;
}

.container {
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 10px 10px 0 #0F0F0F;
}

.h2 {
    letter-spacing: -6px;
    font-size: 4rem;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
}

.gif {
    width: 200px;
}