.nav {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
    border: 1px solid black;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-left: 40px;
}


.logo {
    position: relative;
    transition: transform .3s ease;
}

.logo:hover {
    transform: rotate(-15deg);
}

.links {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.link {
    color: white;
    text-underline-offset: 3px;
}

.plus, .minus {
    padding-right: 20px;
    transition: transform .3s ease;
    cursor: pointer;
}

.plus:hover, .minus:hover {
    transform: scale(1.1);
}

.plus:focus + .form {
    transform: translateX(-400px);
}

.header {
    position: relative;
}

.header h1 {
    font-size: 1.5rem;
    margin: 20px;
}

.msg {
    opacity: 0;
    width: 150px;
    position: absolute;
    bottom: 10%;
    left: -25%;
    padding: 8px;
    background-color: #0F0F0F;
    color: #BBBBBB;
    border-radius: 1vh;
    transition: opacity .3s;
}

.showmsg {
    opacity: 1 !important;
}

.form {
    z-index: 888;
    position: absolute;
    top: 10.2vh;
    right: -351px;
    width: 350px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color:#BBB;
    border-left: 1px solid black;
    transition: right .3s ease;
}

.show {
    right: 0;
}

.img {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #161616;
    border-radius: 50%;
}

.inputs {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.ipts {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.input input {
    padding: 10px;
    font-family: Helmet;
    font-weight: bold;
    border: 2px solid #161616;
    border-radius: 7vh;
    transition: border .3s ease, outline .3s ease;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.num input {
    width: 25px;
    padding: 10px;
    font-family: Helmet;
    font-weight: bold;
    border: 2px solid #161616;
    border-radius: 1vh;
    transition: border .3s ease, outline .3s ease;
}

.select select {
    padding: 10px;
    font-family: Helmet;
    font-weight: bold;
    border: 2px solid #161616;
    border-radius: 7vh;
    transition: border .3s ease, outline .3s ease;
}

.input input:focus, .num input:focus, .select select:focus {
    border: 2px solid #F5F5F5;
    outline: 2px solid rgba(0, 0, 255, 0.507);
}

.buttons {
    height: 32%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.temps {
    width: 300px;
    height: 55%;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    border-radius: 2vh;
    background-color: #EEE;
}

.temp {
    padding: 5px 8px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: #0F0F0F;
    color: #F5F5F5;
    border: none;
    border-radius: 2vh;
    font-family: Helmet;
    font-size: .75rem;
}

.btns {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn1, .btn2 {
    width: 100px;
    padding: 1vh 2vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    font-family: BentonSans;
    font-weight: bold;
    color: #f5f5f5;
    border: .4vh solid black;
    box-shadow: .4vh .4vh 0 black;
    border-radius: .3vh;
    transition: transform .1s ease, border .1s ease, outline .1s ease, filter .1s ease;
    transform-origin: center;
    cursor: pointer;
}

.btn1 {
    background-color: #14C3C1;
}

.btn2 {
    background-color: #355C7D;
}

.imp {
    background-color: #E37E51;
}

.btn1:hover, .btn2:hover {
    transform: translateY(-2px);
    filter: brightness(115%);
}

.btn1:focus, .btn2:focus {
    border: .4vh solid #F5F5F5;
    outline: 2px solid rgba(0, 0, 128, 0.753)
}

.btn1:active, .btn2:active {
    transform: translateY(2px);
    box-shadow: none;
}
